<% @title = "#{@project.name}" %>

<% content_for(:header) do %>
  <p>
    <%= link_to("Projects", projects_path) %> &gt;
    <%= link_to(h(@project.name), project_pages_path(@project)) %>
  </p>
<% end %>

<h1><%=h @project.name %></h1>

<% unless @pages.empty? %>
  <table>
    <% for page in @pages %>
      <tr>
        <td><%= link_to(h(page.name), [@project, page]) %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% form_for(:page, Page.new, :url => new_project_page_path(@project)) do |form| %>
  <%= form.text_field(:name) %>
  <%= form.submit("Create page") %>
<% end %>

<script>$('page_name').focus()</script>

<% unless @pages.empty? %>
  <% unless @project.git.remotes.empty? %>
    <h2>Remotes</h2>
  
    <table>
      <% for remote in @project.git.remotes %>
        <tr>
          <td><%=h remote.name %></td>
          <td><%= link_to("pull", pull_project_path(@project, :remote => remote.name)) %></td>
          <td><%= link_to("push", push_project_path(@project, :remote => remote.name)) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  
  <h2>History</h2>
  
  <table>
    <thead>
      <tr>
        <th>Message</th>
        <th>Date</th>
        <th>Author</th>
    </thead>
    <tbody>
      <% @project.git.log.each do |commit| %>
        <tr>
          <td><%=h commit.message %></td>
          <td><%= time_ago_in_words(commit.date) %> ago</td>
          <td><%=h commit.author.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
