<% @title = "#{@project.name}" %>

<% content_for(:header) do %>
  <p>
    <%= link_to("Projects", projects_path) %> &gt;
    <%= link_to(h(@project.name), project_pages_path(@project)) %>
  </p>
<% end %>

<h1><%=h @project.name %></h1>

<ul>
  <% for page in @pages %>
    <li><%= link_to(h(page.name), [@project, page]) %></li>
  <% end %>
</ul>

<% form_for(:page, Page.new, :url => new_project_page_path(@project)) do |form| %>
  <%= form.text_field(:name) %>
  <%= form.submit("Create page") %>
<% end %>

<script>$('page_name').focus()</script>

<% unless @pages.length == 0 %>
  <table>
    <thead>
      <tr>
        <th>Message</th>
        <th>Date</th>
        <th>Author</th>
    </thead>
    <tbody>
      <% @project.git.log.each do |commit| %>
        <tr>
          <td><%=h commit.message %></td>
          <td><%= time_ago_in_words(commit.date) %> ago</td>
          <td><%=h commit.author.name %></td>
          <td><%=h commit.sha %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
