<% @title = "#{@project.name} > #{@page.name}" %>

<% content_for(:header) do %>
  <p>
    <%= link_to("Projects", projects_path) %> &gt;
    <%= link_to(h(@project.name), project_pages_path(@project)) %> &gt;
    <%= @page.name %>
  </p>

  <p>
    <%= link_to("Edit", edit_project_page_path(@project, @page)) %> |
    <%= link_to("Open in TextMate", @page.textmate_url) %>
  </p>
<% end %>

<%= markdown(@page.body) %>

<% unless @page.new_record? %>
  <table>
    <thead>
      <tr>
        <th>Message</th>
        <th>Date</th>
        <th>Author</th>
    </thead>
    <tbody>
      <% @page.log.each do |commit| %>
        <tr>
          <td><%=h commit.message %></td>
          <td><%= time_ago_in_words(commit.date) %> ago</td>
          <td><%=h commit.author.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
