<% @title = "Projects" %>

<% content_for(:header) do %>
  <p>Projects</p>
<% end %>

<h1>Projects</h1>

<% unless @projects.empty? %>
  <table>
    <% for project in @projects %>
      <tr>
        <td><%= link_to(h(project.name), project_pages_path(project)) %></td>
        <td><%=h "gitjour clone #{ENV['USER']}-#{project.name}" %></td>
        <td><%= link_to(delete_button, project, :method => :delete, :confirm => 'Really delete?') %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% form_for(Project.new) do |form| %>
  <%= form.text_field(:name) %>
  <%= form.submit("Create project") %>
<% end %>

<script>$('project_name').focus()</script>
